{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="shortcut icon" href="https://i.imgur.com/Z2cjlQw.png" type="image/x-icon">
    <style>
        body {
            margin: 0px;
            padding: 0px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4f82ce;
        }

        div {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <img src="https://i.imgur.com/Z2cjlQw.png" alt="agenda" width="100">
        <h1>ERROR 404</h1>
    </div> 
</body>
</html>
