{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="shortcut icon" href="{% static 'imagens/agenda.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/template_error_404.css' %}">
</head>
<body>
    <div>
        <img src="{% static 'imagens/agenda.png' %}" alt="agenda" width="100">
        <h1>ERROR 404</h1>
    </div> 
</body>
</html>
